*{
	margin-bottom: 0;
	margin-top: 0;
}
#site{

width: 1270px;
height: 800px;
background-image: url("../img/fundo.jpg");

}

#header{
	
	width: 1180px;
	height: 100px;
	
	margin-left: 50px;
	background-color: red;
}
#conteudo{

	width: 1180px;
	height: 600px;
	margin-left: 50px;
	background-color: green;

}

#footer{
	
	width: 1180px;
	height: 50px;

	margin-left: 50px;
	background-color: red;

}

#conteudo-left{

	width: 500px;
	height: 600px;
	float: left;
	background: yellow;


}

#conteudo-midle{
	
	width: 250px;
	height: 550px;
	margin-right: auto;
	margin-left: auto;


}
#conteudo-rigth{
	width: 250px;
	height: 550px;
	margin-top: 25px;
	margin-right: 20px;
	float: right;
	background: black;

}
img{
	width: 500px;
	height: 600px;
	float: left;

}